<row class="collapsed footer">
  <columns>
    <spacer size="16"></spacer>
    <p class="text-center">&copy; copyright nobody<br/>
    <a href="#">hello@nocopyright.com</a> | <a href="#">Manage Email Notifications</a> | <a href="#">Unsubscribe</a></p>
    <center>
      <menu>
        <item><img src="http://placehold.it/25" alt=""></item>
        <item><img src="http://placehold.it/25" alt=""></item>
        <item><img src="http://placehold.it/25" alt=""></item>
        <item><img src="http://placehold.it/25" alt=""></item>
        <item><img src="http://placehold.it/25" alt=""></item>
      </menu>
    </center>
  </columns>
</row>
